!**/expected-output/*
!lobster-html-report/**/input/*.lobster
!lobster-online-report/**/input/*.lobster
!lobster-online-report/data/*.lobster
!lobster-online-report-nogit/data/*.lobster
!lobster-report/data/*.lobster
!lobster-trlc/data/*.lobster
!lobster-codebeamer/data/*.lobster
lobster-codebeamer/data/ssl/
!lobster-html-report/data/*.lobster
!lobster-cpptest/data/*.lobster
