build>=1.2.0
coverage>=7.2
flask
GitPython>=3.1.30
libcst>=1.1.0
Markdown~=3.7
pycodestyle==2.12.0
pylint==3.2.4
PyYAML>=6.0
requests>=2.31.0
selenium
setuptools
trlc>=2.0.1
webdriver-manager
yamale>=6.0.0
plotly==5.10.0
kaleido>=0.2.1,<0.3.0  # Required for fig.to_image() in diagram_generator.py
